.all-feedback{
    height: max-content;
    width: 100vw;
    background-color: whitesmoke;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
}

.feedback-header{
    background-color: #002147;
    color: whitesmoke;
    text-align: center;
    padding: 20px;
   font-weight: bold;
}

.container {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px 0;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%; /* Adjust as needed */
    max-width: 600px; /* Fixed max width */
    height: max-content; /* Fixed height */
    display: flex;
    flex-direction: column;
}

.feedback-title {
    font-size: 1.5em;
    margin-bottom: 12px;
    color: #002147;
}

.feedback-data {
    display: flex;
    flex: 1; /* Allow it to grow */
    justify-content: space-between;
    align-items: flex-start;
}

.feedback-details {
    flex: 1;
    margin-right: 16px;
}

.feedback-details p {
    margin: 8px 0;
    font-size: 1em;
    color: #002147;
}

.feedback-details span {
    font-weight: bold;
    color: #002147;
}

.main-feedback {
    flex: 1;
    display: flex;
    flex-direction: column; /* Align textarea vertically */
    justify-content: flex-end; /* Push textarea to the bottom */
}

.feedback-textarea {
    width: 100%;
    height: 100px; /* Adjust height of textarea */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    color: #002147;
    resize: none; /* Prevents resizing */
    background-color: #e9ecef;
    cursor: pointer;
    overflow-y: scroll;
}

.feedback-textarea::-webkit-scrollbar{
    display: none;
}


.delete-button {
    margin-top: 8px;
    padding: 8px 12px;
    background-color: #002147; /* Red color for delete */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: 0.3s;
}

.delete-button:hover {
    background-color: #01172f; /* Darker red on hover */
}