#home {
    width: 80vw;
    margin: auto;
    padding-top: 110px;
    height: 90vh;
    margin-top: 60px;
}

#home>p {
    font-size: 3vw;
    color: white;
    font-weight: bold;
}

#home>.home-para{
    font-size: calc( 3vw - 1%);
}

#home>small {
    color: white;
}

#home .home-addmission {
    background-color: transparent;
    border: 2px solid whitesmoke;
    color: whitesmoke;
    padding: 10px;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.2s;
    text-decoration: none;
}

#home .home-addmission:hover {
    background-color: whitesmoke;
    color: black;
}

.home-btn {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.home-btn a{
    text-decoration: none;
}

#home .home-learn {
    background-color: white;
    color: black;
    padding: 10px;
    font-weight: bolder;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 6px;
    transition: 0.2s;
}

#home .home-learn:hover {
    background-color: whitesmoke;
}

@media  only screen and (max-width:1028px) {
    #home>p{
        font-size: 6vw;
    }

    #home>.home-para{
        font-size: calc( 6vw - 2%);
    }
}

@media  only screen and (max-width:620px) {
    #home{
        padding-top: 140px;
        text-align: center;
    }
    #home>p{
        font-size: 10vw;
    }
    .home-btn{
        justify-content: center;
    }
}